@import url('https://fonts.googleapis.com/css2?family=Inter&family=Moon+Dance&display=swap');
body{
    padding: 0;
    margin: 0;
    user-select: none;
    
}
.nav-container{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: transparent;
}
.logo{
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
}
.logo h1{
    color: #83d3d4;
    font-family: 'Inter', sans-serif;
    font-family: 'Moon Dance', cursive;
    margin-left:30px;
    margin-top: 10px;
    font-weight: bolder;
}
.nav-items{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav-items li{
    color: #52c2ca;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}
.active{
    color: #48a7f5;
}
.nav-items li:hover{
    cursor: pointer;
    color: #AEFEFF;
    /* #30168f; */

    text-shadow: 0px 0px 15px #30168f;
}
.profile{
    display: flex;
    justify-content: center;
    width: 25%;
    align-items: center;
}
.profile button{
    height: 45px;
    margin-left: 20px ;
    width: 100px;
}
a{
    text-decoration: none;
}
.profile #snup{
    border-radius: 15px;
    color: #5e46cc;
    font-family: cursive;
    font-weight: bold;
    font-size: medium;
    transition: 0.2s;
}
.profile #snup:hover{
    color: #48a7f5;
    text-shadow: 0px 0px 20px #820d32;
    cursor: pointer;
}
.profile #snin{
    background-color: transparent;
    border: 2px solid #48a7f5;
    border-radius: 15px;
    color: #5e46cc;
    font-family: cursive;
    font-weight: bold;
    transition: 0.5s;
    font-size: medium;
}
.profile #snin:hover{
    background-color: #48a7f5;
    border: 2px solid #fdfbf4 ;
    color: #fdfbf4;
    cursor: pointer;
}
li{
    list-style-type: none;
    
}